$color_white: #FFFFFF;
$color_black:#151515;
$color_title:#E6A859;
$color_subtitle:#8D8180;
$color_btn: #FCB357;
$color_btn_read: #FFB44F;
$color_btn-hover: #804f14;
$color_shadow: #fab866;


body {
    font-family: sans-serif;
    background: $color_black;
    color: $color_white;
}

.container {
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 120px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    margin: 32px 0;
}

.title {
    position: relative;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: $color_white;
    letter-spacing: 1px;
    margin: 70px 0 109px;

    span {
        color: $color_title;
    }

    &::before {
        content: "";
        position: absolute;
        width: 73px;
        height: 3px;
        background: $color_white;
        border-radius: 60px;
        left: 613px;
        bottom: -15%;
    }

    &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        left: 637px;
        bottom: -34%;
        background: $color_white;
        border-radius: 60px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
}

p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: .5px;
}

.btn {
    border: 1px solid $color_btn;
    border-radius: 27px;
    padding: 16px 38px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color_btn;
}


.header {
    .nav-link {
        font-size: 16px;
        color: $color_white !important;
        margin-right: 62px;
    }

    .home-item {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 14px;
            height: 2px;
            background: $color_white;
            left: 40%;
            bottom: 3%;
        }
    }
}

#demo-nav-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 41px;
    margin-right: 20px;
}

.demo-nav-menu-item {
    display: flex;
    list-style: none;
    padding: 0 20px;

    a {
        font-weight: 400;
        font-size: 16px;
        color: $color_white;
        text-decoration: none;
    }

}

.demo-nav-menu-item a:hover {
    color: $color_title;
}



// baner
.baner {
    background: url("/img/baner.png") center/cover no-repeat;
    min-height: 964px;

    .baner-content {
        text-align: center;
        padding-top: 284px;

        .demo-nav-menu-item {
            padding: 0 45px;
            border-left: 1px solid $color_white;
            border-right: 1px solid $color_white;
        }
    }
}

.contact-us,
.baner-content {
    .btn {
        color: $color_white;
        font-size: 18px;
        border: none;
        border-radius: 50px;
        background: $color_btn;
        box-shadow: -2px 0px 22px 2px $color_shadow;
        padding: 24px 82px;
    }
}

// about us
.about-us {
    position: relative;
    margin-bottom: 164px;

    &::after {
        position: absolute;
        right: 94%;
        bottom: -14%;
        content: url("/img/Frame.png");
    }

    .about-us-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 0.6fr;
        gap: 35px 253px;
        grid-template-areas:
            "img-box text-box"
            "img-box second-img";
    }

    .img-box {
        grid-area: img-box;
    }

    .text-box {
        grid-area: text-box;
    }

    .second-img {
        grid-area: second-img;
    }


    .read-next {
        margin-left: 16%;
        bottom: -3%;
        position: relative;
    }


    .read-next button {
        border-style: none;
        color: $color_btn_read;
        background-color: #151515;

        &::before {
            content: "";
            width: 40px;
            height: 3px;
            border-radius: 2px;
            background-color: $color_btn_read;
            position: absolute;
            top: 50%;
            left: -18%;
        }
    }

}



// our works
.our-work {
    position: relative;
    margin-bottom: 130px;

    &::after {
        content: url("/img/Frame\ 5.png");
        position: absolute;
        right: 94%;
        bottom: -15%;
    }

    .our-works_main {
        text-align: center;
        padding: 0px 15px 30px;
        position: relative;

    }

    .our-works-title {
        font-weight: 500;
        font-size: 24px;
        position: absolute;
        line-height: 36px;
        top: 43%;
        left: 0%;
        width: 100%;
        text-align: center;

        span {
            color: $color_title;
        }
    }

    .our-works_number {
        display: flex;
        justify-content: flex-end;
        margin-top: 66px;
        margin-left: 80px;
    }

    .our-works_digits {
        color: $color_white;
        font-size: 32px;
        text-align: right;
        margin-right: 32px;

        &::first-letter {
            color: $color_btn;
        }
    }
}


// how we work
.how-we-work {
    position: relative;
    margin: 100px 0 280px;

    &::after {
        left: 85%;
        bottom: -27%;
        position: absolute;
        content: url("/img/Frame-1.png");
    }
}

.item-vector {
    margin-top: 50px;
}

.how-we-work_main {
    text-align: center;
    max-width: 270px;

    .subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: $color_subtitle;
        letter-spacing: .1px;
    }
}



// reviews
.reviews-card__item {
    display: flex;
    max-width: 666px;
    min-height: 238px;
    box-shadow: 6px 16px 6px -6px rgb(16, 16, 16);
    margin-top: 79px;
    margin-right: 79px;
    position: relative;

    &::after {
        content: url("/img/skobki.png");
        position: absolute;
        left: 90%;
    }

    img {
        margin: -4px 16px;
        border-radius: 50%;
        height: 35%;
    }
}

.reviews-content {
    max-width: 422px;
}

.reviews-content-title {
    font-size: 11px;
    line-height: 1.4;
    color: $color_title;
    letter-spacing: .5px;
}

.reviews-content-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin: 6px 0 15px;
    letter-spacing: .5px;
}

.reviews-content-post {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 31px;
    letter-spacing: .2px;
}



.social {
    width: 110px;
    display: flex;
    justify-content: center;
    list-style: none;
    background-image: url("/img/social-media_3.png");

    a {
        position: relative;
        display: block;
        width: 26px;
        height: 26px;
        margin-left: -7px;
        margin-right: 23px;
        border-radius: 50%;

        &:hover {
            background-color: rgb(227, 227, 227);
            opacity: 0.4;
        }
    }
}



.social-forth {
    width: 69px;
    background-image: url("/img/social-media_2.png")
}

.social-second {
    width: 111px;
    background-image: url("/img/social-media_4.png")
}

.social-third {
    width: 152px;
    background-image: url("/img/social-media_4.png")
}



// contact us
.contact-us {
    text-align: center;
    position: relative;
    margin-top: 230px;

    &::before {
        content: url("/img/Frame-4.png");
        position: absolute;
        right: 92%;
        top: -14%;
    }
}

.form {
    box-sizing: border-box;
    align-items: center;
    margin-top: 58px;
}

.input {
    max-width: 542px;
    width: 100%;
    height: 66px;
    border: 1px solid $color_white;
    font-weight: 400;
    font-size: 17px;
    line-height: 4;
    padding-left: 33px;
    margin-bottom: 67px;
    color: $color_white;
    background: #151515;
    margin-left: 40px;
    margin-right: 40px;
}

textarea {
    color: $color_white;
    max-width: 1168px;
    width: 100%;
    height: 264px;
    font-weight: 400;
    font-size: 18px;
    line-height: 4;
    background: #151515;
    border: 1px solid $color_white;
    padding-left: 32px;
    margin: 0 0 105px 0px;
}

// our contacts
.our-contacts {
    position: relative;
    margin: 149px 0 57px;

    &::before {
        content: '';
        background-color: $color_white;
        height: 2px;
        display: block;
        width: auto;
    }

    &:after {
        content: '';
        background-color: $color_white;
        height: 2px;
        display: block;
    }

    .our-contacts-content {
        margin: 54px 0 34px;
    }

    .item-first {
        margin-right: 70px;
    }

    .our-contacts-item {
        max-width: 250px;
    }

    .our-contacts-item-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        margin-top: 43px;
        margin-bottom: 31px;
    }

    .our-contacts-item-subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        padding-bottom: 20px;
    }

    .social-icons {
        width: 115px;
        display: flex;
        justify-content: center;
        list-style: none;
        background-image: url("/img/We\ are\ on\ social-media.png");

        a {
            position: relative;
            display: block;
            width: 27px;
            height: 27px;
            margin-top: 1px;
            margin-left: -8px;
            margin-right: 24px;

            &:hover {
                background-color: #d1eefa;
                opacity: 0.4;
            }
        }
    }
}

.footer-section {
    text-align: center;
    margin-bottom: 50px;

    .our-contacts_item-title {
        font-size: 16px;
        margin-bottom: 27px;
    }

    .scrollup {
        background-image: url("/img/up.png");
        cursor: pointer;
        position: fixed;
        min-height: 46px;
        min-width: 58px;
        bottom: 81px;
        right: 177px;
    }
}

@media screen and (max-width:820px) {
    header {

        .home-item::after {
            display: none;
        }

        .nav-link {
            font-size: 28px !important;
            margin-top: 20px !important;
        }


        .btn {
            display: none;
        }

    }

    .navbar-nav {
        margin-bottom: 35px;
    }

    .navbar {
        text-align: left;
    }

    .navbar-light {

        .navbar-toggler {
            color: transparent;
            border-color: transparent;
            padding: 10px;
            padding-right: 0px;
        }

        .navbar-toggler-icon {
            background-image: url("/img/icon-menu.png");
            padding: 18px;

        }

    }

    .about-us {
        &::after {
            right: 6%;
            bottom: -2%;
        }

        .about-us-main {
            gap: 33px 56px;
            grid-template-areas:
                "img-box text-box"
                "second-img text-box";
        }
    }

    .how-we-work::after {
        left: 68%;
        bottom: -13%;
    }

    .how-we-work_content {
        flex-direction: column;
        align-items: center;
    }

    .item-vector {
        display: none;
    }

    .our-contacts .our-contacts-content {
        flex-direction: column-reverse;
        margin-top: 65px;
    }

    .contact-us::before {
        right: 81%;
    }

    .item-social {
        display: none;
    }

    .img-map {
        text-align: center;
    }
}


@media screen and (max-width:450px) {

    h2,
    .title {
        font-size: 28px;
    }

    .title {
        margin: 26px 0 46px;

        &::before {
            left: 142px;
            bottom: 12%;
        }

        &::after {
            left: 165px;
            bottom: -2%;
        }
    }

    p,

    .reviews-content-post {
        font-size: 8px;
    }

    .contact-us .btn,
    .baner-content .btn {
        font-size: 14px;
    }

    .baner .baner-content .demo-nav-menu-item {
        padding: 0 20px;

        a {
            font-size: 10px;
        }
    }

    .about-us {
        margin-bottom: 52px;

        .read-next button {
            font-size: 12px;
            margin-left: 17px;
        }

        &::after {
            right: 2%;
            bottom: -17%;
            content: url("/img/about-us.png");
        }

    }

    .our-works_main {
        flex-direction: column;

    }

    .how-we-work {
        margin-bottom: 95px;

        &::after {
            left: 70%;
            bottom: -5%;
            content: url("/img/Frame-1.png");
        }
    }

    .contact-us,
    .reviews-card__item {
        margin-top: 65px;

        &::before {
            right: 75%;
            top: -16%;
        }

    }

    .reviews-card__item {
        min-height: 184px;
        margin-right: 0;
    }

    .reviews-content-name {
        font-size: 10px;
    }

    .input,
    textarea {
        max-width: 390px;
        padding-left: 15px;
        margin-bottom: 23px;
        margin-left: 0px;
        height: 66px;
    }

    .our-contacts {
        margin: 25px 0 35px;

        .item-first {
            margin-right: 22px;
        }

        .our-contacts-item-title,
        .our-contacts-item-subtitle {
            font-size: 12px;
        }

    }

    iframe {
        width: 370px;
    }

    .footer-section {

        .our-contacts_item-title {
            font-size: 13px;
        }

        .scrollup {
            right: 77px;
        }

        #demo-nav-menu {
            display: none;
        }
    }
}